/*-
 * ========================LICENSE_START=================================
 * quick-pad-tagger
 * %%
 * Copyright (C) 2017 Schrieveslaach
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Lesser Public License for more details.
 * 
 * You should have received a copy of the GNU General Lesser Public
 * License along with this program.  If not, see
 * <http://www.gnu.org/licenses/lgpl-3.0.html>.
 * =========================LICENSE_END==================================
 */
body {
    background-color: #f4f4f4;
    color: #e0e0e0;
    font-family: Roboto, Arial, Helvetica, san-serif;
    font-size: 4.5rem;
    padding: 1rem;
    padding-bottom: 10rem;

    overflow: hidden;
}

.sentence-selected {
    background-color: #c8e6c9;
    color: #81c784;
}

.token-selected {
    text-decoration: underline;
}