/*-
 * ========================LICENSE_START=================================
 * quick-pad-tagger
 * %%
 * Copyright (C) 2017 Schrieveslaach
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Lesser Public License for more details.
 * 
 * You should have received a copy of the GNU General Lesser Public
 * License along with this program.  If not, see
 * <http://www.gnu.org/licenses/lgpl-3.0.html>.
 * =========================LICENSE_END==================================
 */
.token-label {
    -fx-min-height: 75;
    -fx-alignment: center;
    -fx-font-weight: bolder;
    -fx-font-size: 2em;
    -fx-padding: 5 5 5 5;
}

.document-information-heading {
    -fx-font-size: 2em;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #BDBDBD
}

.document-information-sub-heading {
    -fx-font-size: 1em;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #BDBDBD
}

.document-information-value {
    -fx-font-size: 1.5em;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #616161
}

.segmentation-label {
    -fx-min-height: 75;
    -fx-alignment: center;
    -fx-font-weight: bolder;
    -fx-font-size: 2em;
}

.wait-progress-indicator {
    -fx-progress-color: #d32f2f;
}

.wait-messages {
    -fx-font-size: 2em;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
}

.wait-messages:readonly .scroll-pane {
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

.wait-messages:readonly .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

.wait-messages:readonly .scroll-pane .content {
    -fx-border-color: #01579b;
    -fx-border-width: 5px;
    -fx-background-color: #0288d1;
    -fx-opacity: 1.0;
}

.wait-messages:readonly {
    -fx-opacity: 1.0;
}

.exception-messages {
    -fx-font-size: 1.2em;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
}

.exception-messages:readonly .scroll-pane {
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

.exception-messages:readonly .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

.exception-messages:readonly .scroll-pane .content {
    -fx-border-color: #b71c1c;
    -fx-border-width: 5px;
    -fx-background-color: #d32f2f;
    -fx-opacity: 1.0;
}

.exception-messages:readonly {
    -fx-opacity: 1.0;
}

.exception-messages .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.exception-messages .scroll-bar:horizontal:disabled {
    -fx-opacity: 0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}
